/* DOM */
table {
    border: 1px rgba(0, 0, 0, 0.25) solid;
    cursor: default;
}
th {
    color: rgba(0, 0, 0, 0.75) !important;
    font-size: 16px;
    font-weight: bolder;
    padding: 15px !important;
    text-align: center;
    text-transform: uppercase;
}
td {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 14px;
}

/* Classes*/
.bold {
    font-weight: bold;
}

/* Custom */
div.custom > div.wrapper {
    border: 1px rgba(0, 0, 0, 0.25) solid;
    margin: 50px;
    padding: 50px;
}

div.custom h1 {
    font-size: 24px;
}
